<div id="main1">
	<header>
		<button class="headbtn" data-ng-click="projectclick()">Projects</button>
		<button class="headbtn" data-ng-click="addproclick()"><span class="glyphicon glyphicon-plus" style="font-size:13px;color:#ffffff"></span></button>
		<div id="task">Task Manager</div>
		<div id="forbtn">
			<button class="headbtn" data-ng-click="invitemember()"><span class="glyphicon glyphicon-plus" style="font-size:13px;color:#ffffff"></span></button>
			<button class="headbtn" data-ng-click="showteam()"><span class="glyphicon glyphicon-user" style="font-size:13px;color:#ffffff"></span></button>
			<button class="headbtn" data-ng-bind="username" data-ng-click="nameclick()"></button>
		</div>   
	</header>
	<div id="content">
		<div id="sh" data-ng-show="myvar" data-ng-init="myvar = false ">
			<div data-ng-repeat="p in projects">
				<li class="project" data-ng-click="readtask(p)" data-ng-mouseover = "projecttoclick()">{{p.projectName}}
				</li><hr>
			</div>
		</div>
		<div id="sh1" data-ng-show="myvar1" data-ng-init="myvar1 = false">
			<span class="glyphicon glyphicon-remove" data-ng-click="addproclick()" style="float:right;margin-right:10px"></span>
			<span class="glyphicon glyphicon-ok" data-ng-click="addproject()" style="float:right;margin-right:10px"></span>
			<form name="myForm1">
				<label for="title" class="brdlabel">Project Name</label><br>
				<input type="text" id="title" name="title" data-ng-model="title" required/>
				<span style="color:red" data-ng-show="myForm1.title.$dirty && myForm1.title.$invalid"><span data-ng-show="myForm1.title.$error.required">Title is required.</span>
				</span>
			</form>
		</div>
		<div id="sh2" data-ng-show="myvar2" data-ng-init="myvar2 = false">
			<div class="pro" data-ng-click="showprofile(useremail)">Profile</div>
			<div class="pro" data-ng-click="changepass()">Change Password</div>
			<hr>
			<div class="pro"  data-ng-click="notmembers()">Team Directory</div><hr>
			<a id="out" ui-sref="signin"><div class="pro">Logout</div></a>
		</div>
		
		
	<div id="sh4" data-ng-show="var8" data-ng-init="var8 = false">
		<span class="glyphicon glyphicon-remove" data-ng-click="var8 = !var8" style="float:right;margin-right:10px"></span>
		<label for="title" class="brdlabel">Email</label><br>
		<input id="title" type="text" name="newmember" data-ng-model="newmember" placeholder="Enter valid email"><br>
		<button class="brdbtn" data-ng-click="inviteemail()">Invite</button>
	</div>
	<div id="sh5" data-ng-show="var9">
		<form>
			<span class="glyphicon glyphicon-pencil" data-ng-click="edit()" style="margin-left:85%"></span>
			<span class="glyphicon glyphicon-remove" data-ng-click=" var9 = !var9" style="margin-left:10px"></span>
			<label for="title" class="brdlabel">Name</label><br><input id="title" ng-readonly="var5" data-ng-model="name"/><br>
			<label for="title" class="brdlabel">Email</label><br><input id="title" type="email" data-ng-model="email" readonly/><br>
			<label for="title" class="brdlabel">Mobile</label><br><input id="title" type="number" ng-readonly="var5" data-ng-model="mobile"/><br>
			<label for="title" class="brdlabel">Skype</label><br><input id="title" type="email" ng-readonly="var5" data-ng-model="skype"/><br><br>
			<button class="brdbtn" type="submit" data-ng-click="saveprofile()">Save</button>
		</form>
	</div>
	<div id="sh5" data-ng-show="var10" data-ng-init="var10 = false">
		<span class="glyphicon glyphicon-remove" data-ng-click=" var10 = !var10" style="margin-left:80%"></span>
			<label for="title" class="brdlabel">Old Password</label><br><input id="title" type="password" data-ng-model="old"/><br>
			<label for="title" class="brdlabel">New Password</label><br><input id="title" type="password" data-ng-model="new1"/><br>
			<label for="title" class="brdlabel">Confirm Password</label><br><input id="title" type="password" data-ng-model="new2"/>
			<button class="brdbtn" type="submit" data-ng-click="savepass()">Change</button>
			<br>
	</div>
	<div id="team" data-ng-show="icon" data-ng-init="icon = false">
		<li id="one" data-ng-repeat="m in myvar3.email" data-ng-click="showprofile(m)">{{m}}</li>
	</div>
	<div id="team1" data-ng-show="icon1" data-ng-init="icon1 = false">
		<li id="one" data-ng-repeat="m in members" data-ng-click="select(m)">{{m.email}}</li>
		<button class="brdbtn" data-ng-click="invite()">Add</button>
	</div>
	<div ui-view></div>
</div>