section
{  width:100%;   padding-top:40px;}

.main 
{  width:40%;   margin:0 auto; background-color:#f2f2f2; padding:30px; border:1px solid gray; border-radius:10px; 
   box-shadow:5px 5px 8px 4px gray;}

.regpara
{  background-color:#f2f2f2;  height:15px;}

h1
{
 font-size:2.25em;
 font-weight:bold;
 color:#404040;
 font-family:Arial;
}

.reglabel
{  font-size:1.25em;  font-weight:normal;  }

span
{  color:#b3b3b3;  }

.Email,.password,#Name,#confirmpassword,button,label,p
{
 font-size:1.25em;
 line-height:40px;
 letter-spacing:1px;
 word-spacing:1px;
 margin-bottom:20px;
 color:#404040;
 font-family:Arial;
}
.Email,.password,#Name,#confirmpassword
{
 border-radius:3px;
 height:40px;
 width:90%;
 border:1px solid #b3b3b3;
 background-color:#ffffff;
}

input:hover
{  border:1px solid gray;  }

.regbtn
{
  border:1px solid #ffffff;
  border-radius:3px;
  height:50px;
  font-size:1.25em;
  color:#ffffff;
  background-color:#19a319;
  padding-left:30px;
  padding-right:30px;
}

.regbtn:hover
{  background-color:green;  }

.regank
{  text-decoration:underline;  color:gray;  }

.regank:hover
{  color:#404040;  }

