section
{  width:100%;   padding-top:40px; }

.main 
{  width:40%;   margin:0 auto; background-color:#f2f2f2; padding:30px; border:1px solid gray; border-radius:10px; 
   box-shadow:5px 5px 8px 4px gray;}

.regpara
{  background-color:#f2f2f2;  height:15px;}

h1
{
 font-size:2.25em;
 font-weight:bold;
 color:#404040;
 font-family:Arial;
}

.reglabel
{  font-size:1.25em;  font-weight:normal;  }

span
{  color:#b3b3b3;  }

.Email,.password,#Name,#confirmpassword,button,label,p
{
 font-size:1.25em;
 line-height:40px;
 letter-spacing:1px;
 word-spacing:1px;
 margin-bottom:20px;
 color:#404040;
 font-family:Arial;
}
.Email,.password,#Name,#confirmpassword
{
 border-radius:3px;
 height:40px;
 width:400px;
 border:1px solid #b3b3b3;
 background-color:#ffffff;
}

input:hover
{  border:1px solid gray;  }

.regbtn
{
  border:1px solid #ffffff;
  border-radius:3px;
  height:50px;
  font-size:1.25em;
  color:#ffffff;
  background-color:#19a319;
  padding-left:30px;
  padding-right:30px;
}

.regbtn:hover
{  background-color:green;  }

.regank
{  text-decoration:underline;  color:gray;  }

.regank:hover
{  color:#404040;  }

.pro
{
  height:30px;
  width:200px;
  margin-bottom:7px;
  //background-color:#f2f2f2;
  //border:1px solid #1975d1;
  //border-radius:5px;
  color:blue;
  font-size:1.25em;
  //line-height:25px;
  list-style-type:none;
}

.daspara
{  height:25px; color:#ffffff; line-height:20px; margin-top:2px; text-align:center;}

#box
{
  height:250px;
  width:500px;
  border:1px solid gray;
  border-radius:6px;
  text-align:center;
  background-color:#f2f2f2;
}

#main1
{
  width:1340px;
  height:700px;
  background-color:#f0f0f0;
  position:relative;
}
header
{
  width:1340px;
  height:50px;
  background-color:#1975D1;
}
.btn,.listbtn,#namebtn
{
  display:inline-block;
  
  background-color:#4d94db;
  border:1px solid #4d94db;
  border-radius:2px;
  color:#ffffff;
  font-family:Arial;
  margin-top:7px;
  margin-left:5px;
  line-height:30px;
  font-size:1em;
}

.listbtn { width:150px; }
.btn { width:80px; }
#teambtn
{
  display:inline-block;
  width:40px;
  height:30px;
  background-color:#f0f0f0;
  border:1px solid #f0f0f0;
  border-radius:2px;
  float:right;
}

#task
{
  width:1000px;
  text-align:center;
  display:inline-block;
  color:#ffffff;
  font-size:1.25em;
  font-weight:bold;
  font-family:Arial;
}
#content
{  width:1330px;  }

#rect,#rect1,#rect2
{
  width:370px;
  float:left;
  background-color:#1975d1;
  margin-left:35px;
  margin-top:20px;
  border:1px solid #1975d1;
  border-radius:3px;
  color:#ffffff;
  padding-left:10px;
  padding-right:10px;
}
h3
{
  text-align:center;
  font-family:Arial;
  font-size:1em;
}
#sh,#sh1,#sh2,#sh3
{
  background-color:#ffffff;
  position:absolute;
  border:1px solid gray;
  border-radius:2px;
  padding-left:30px;
  padding-top:20px;
}
#sh
{
  background-color:#f2f2f2;
  width:150px;
  overflow:auto;
  min-height:100px;
  max-height:200px;
  padding-top:10px;
}
#sh1,#sh2
{
  width:250px;
  margin-left:1050px;
  border-radius:7px;
}
#sh3 {  margin-left:280px; width:200px; border-radius:7px; }

#out
{
  line-height:40px;
  color:#ffffff;
  font-size:1.25em;
  text-decoration:none; 
}
#out:hover
{
 display:block;
 background-color:#ffffff;
 color:blue;
}
#title
{  width:300px;  }

.b
{  font-size:1em;   line-height:30px; width:300px;  text-align:center; }

#drag
{
  height:30px;
  width:300px;
  background-color:#ffffff;
  border:1px solid #ffffff;
  border-radius:2px;
  color:1975d1;
  margin-bottom:5px;
  line-height:20px;
}

#taskdetail
{
  height:370px;
  width:335px;
  position:absolute;
  padding-left:15px;
  padding-top:30px;
  float:right;
  background-color:#1975d1;
  border:1px solid #1975d1;
  border-radius:3px;
  color:#ffffff;
  font-family:Arial;
  font-size:1em;
}
#team
{
  max-height:250px;
  width:200px;
  position:absolute;
  margin-left:1115px;
  overflow:auto;
  background-color:#ffffff;
  border:1px solid #1975d1;
  border-radius:5px;
  color:#1975d1;
  padding-top:10px;
  padding-left:20px;
  padding-bottom:10px;
}
#team1
{
  max-height:250px;
  width:200px;
  position:absolute;
  margin-left:400px;
  overflow:auto;
  background-color:#ffffff;
  border:1px solid #1975d1;
  border-radius:5px;
  color:#1975d1;
  padding-top:10px;
  padding-left:20px;
  padding-bottom:10px;
}