
#main1,#surface
{
 	height:700px;
 	background-color:#ffffff;
}

#main1{ position:relative;  }
header
{
 	height:40px;
 	background-color:#0b6294;
 	padding-top:5px;
 	padding-bottom:5px;
}
.headbtn
{
  	display:inline-block;
  	height:30px;
  	background-color:#5B9ABE;
  	border:1px solid #5B9ABE;
  	border-radius:2px;
  	color:#ffffff;
  	font-family:Arial;
  	margin-left:5px;
  	font-size:1em;

}
.headbtn:hover
{background-color: #6ca0be; color:#ffffff;}
.brdbtn
{
	padding: 5px 10px;
	margin: 10px;
	background-color: rgb(104, 168, 0);;
	border:1px solid rgb(104, 168, 0);;
	border-radius: 5px;
	font-size: 1.10em;
	color:#ffffff;
	font-family: Arial;
}
.brdbtn:hover
{ background-color:green; }
#task
{
  	width:150px;
  	text-align:center;
  	display:inline-block;
  	color:#8EB9D2;
  	font-size:1.25em;
  	font-weight:bold;
	font-family:Comic Sans MS;
	margin-left: 30%;
	 text-decoration: none;
}
#task:hover{color:#cce1ed; text-decoration: none;}
#hr
{
	margin-top: 10px;
	margin-bottom:10px;
	border-width:1px;
	border-color:#c8c8c8;
}

#forbtn
{
   	display:inline-block;
  	position:absolute;
  	right:5px;
}
#sh,#sh1,#sh2,#sh3,#sh4
{
	width:270px;
	z-index:5;
	background-color: #ffffff;
	border:1px solid #ffffff;
	margin-top: 5px;
	overflow: auto;
	position:absolute;
	box-shadow:0 3px 6px gray;
	padding: 10px;
}
#sh{border-radius:0px 3px 3px 0px;        max-height: 400px;}
#sh1{ margin-left: 6%;         max-height: 200px;       border-radius: 3px;}
#sh2{ margin-left: 78%; width:300px; max-height:350px; border-radius: 3px; padding-top:10px 0px;}
#sh3{margin-left:0px;     width:300px;}
#sh4{ margin-left:79%;    border-radius: 3px;    max-height: 400px;}
.brdlabel
{
	margin-left: 10px;
	font-family: Arial;
	font-size: 1.05em;
	color: gray;
}
#title
{
	width: 95%;
	height:30px;
	margin-left:10px ;
	background-color: #f2f2f2;
	border:1px solid #b3b3b3;
	border-radius: 3px;
	line-height: 20px;
	color:#404040;
}
#title :hover
{ border-color: gray; }


.pro
{
	height:30px;
	width: 100%;
	font-size: 1.15em;
	color:gray;
	padding-left:10px; 
	font-weight: bold;
}
.pro:hover
{ color:#404040; background-color: #1975d1;}
#out:hover
{ text-decoration: none;  }
.project
{
	width:180px;
	height:20px;
	font-family:Arial;
	font-size: 1.20em;
	color:#404040;
	list-style-type: none; 
	padding-left:20px; 
	display: inline-block;
}

.rect
{
  width:260px;
  float:left;
  background-color:#e2e4e6;
  margin-left:10px;
  border:1px solid #e2e4e6;
  border-radius:3px;
  color:#404040;
  padding-left:10px;
  padding-right:10px;
}
h4
{
  font-family:Arial;
}
#heading{font-family: Arial; width: 85%; display: inline-block;}
.taskdiv
{
	height:30px;
	width:96%;
	margin:auto;
	background-color: #ffffff;
	border:1px solid #ffffff;
	border-radius: 3px;
	padding-top:5px;
	padding-left:10px;
	line-height: 20px;
	font-size: 1.15em;
	color: gray;
	margin-bottom: 10px;
}
#taskdetail,#sh5,#sh6
{
	margin-top:50px;
  max-height:580px;
  width:340px;
  padding-left:15px;
  padding-top:30px;
  float:right;
  background-color:#ffffff;
  border:1px solid #404040;
  border-radius:6px;
  color:#ffffff;
  font-family:Arial;
  font-size:1em;
  box-shadow:5px 5px 8px 4px gray;
  overflow:auto; display: inline-block;
}
#taskdetail{margin-top: 0px;}
#sh6{width: 400px;}
#team,#team1
{
  max-height:250px;
  width:200px;
  position:absolute;
  overflow:auto;
  background-color:#ffffff;
  border:1px solid #1975d1;
  border-radius:5px;
  color:#1975d1;
  padding-top:10px;
  padding-left:20px;
  padding-bottom:10px;
}
#team{ margin-left:1115px;}
#pc
{
	color:gray;
	font-size: 1.25em;
	padding-left:10px;
}
#pc:hover{color:#1975d1;}
.comment
{
	width:80.5%;
	line-height: 20px;
	font-size: 1em;
	color:gray;
}
#projectbtn
{
	margin-left:10px;
	padding:5px 10px;
	background-color: #0e74af;
	border:1px solid #0e74af;
	border-radius: 3px;
	color:#ffffff;
	font-size: 1.25em;
	float: left;
}
#projectbtn:hover
{background-color: #0c6599;}
#project
{
	height: 50px;
}
img
{
	height: 150px;
	width:150px;
	border:1px solid gray;
	margin-bottom: 20px;
}