/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
#main1
{
 	height:700px;
 	background-color:#ffffff;
	position:relative;
}
#surface
{
	height:700px;
 	background-color:#0e74af;
 	//position: relative;
}
header
{
 	height:40px;
 	background-color:#0b6294;
 	padding-top:5px;
 	padding-bottom:5px;
}
.headbtn
{
  	display:inline-block;
  	height:30px;
  	background-color:#5793b5;
  	border:1px solid #5793b5;
  	border-radius:2px;
  	color:#ffffff;
  	font-family:Arial;
  	margin-left:5px;
  	//line-height:15px;
  	font-size:1em;

}
.headbtn:hover
{background-color: #6ca0be; color:#ffffff;}
#task
{
  	width:150px;
  	text-align:center;
  	display:inline-block;
  	color:#ffffff;
  	font-size:1.25em;
  	font-weight:bold;
	font-family:Arial;
	margin-left: 30%;
}
#forbtn
{
   	display:inline-block;
  	//background-color: red;
  	position:absolute;
  	right:5px;
}
#sh,#sh1,#sh2,#sh3,#sh4
{
	width:200px; z-index:5;
	background-color: #ffffff;
	border:1px solid #ffffff;
	margin-top: 5px;
	max-height: 150px;
	overflow: auto;
	position:absolute;
	box-shadow:0 3px 6px gray;
	padding: 10px;
}
#sh{border-radius:0px 3px 3px 0px; max-height: 350px;}
#sh1{ margin-left: 6%; border-radius: 3px;}
#sh2{ margin-left: 78%; width:300px; max-height:300px; border-radius: 3px;}
#sh3{margin-left:0px; width:300px;}
#sh4{ margin-left:79%; border-radius: 3px;}
.brdlabel
{
	margin-left: 10px;
	font-family: Arial;
	font-size: 1.25em;
	color: gray;
}
#title
{
	width: 85%;
	height:30px;
	margin-left:10px ;
	background-color: #f2f2f2;
	border:1px solid #b3b3b3;
	border-radius: 3px;
	line-height: 20px;
	color:#404040;
}
#title :hover
{ border-color: gray; }

.brdbtn
{
	padding: 5px 10px;
	margin: 10px;
	background-color: #19a319;
	border:1px solid #19A319;
	border-radius: 5px;
	font-size: 1.10em;
	color:#ffffff;
	font-family: Arial;
}
.brdbtn:hover
{ background-color: green; }
.pro
{
	height:30px;
	//line-height: 20px;
	width: 90%;
	margin: 20px 20px; 
	font-size: 1.35em;
	color:gray;
}
.pro:hover
{ color:#404040;}
#out:hover
{ text-decoration: none;  }
.project
{
	width:180px;
	height:20px;
	font-family:Arial;
	font-size: 1.20em;
	color:#404040;
	list-style-type: none; 
	padding-left:20px; 
	display: inline-block;
}

.rect
{
  width:260px;
  float:left;
  background-color:#e2e4e6;
  margin-left:10px;
  border:1px solid #e2e4e6;
  border-radius:3px;
  color:#404040;
  padding-left:10px;
  padding-right:10px;
}
h4
{
  //text-align:center;
  font-family:Arial;
}
#heading{font-family: Arial; width: 85%; display: inline-block;}
.taskdiv
{
	height:30px;
	width:96%;
	margin:auto;
	background-color: #ffffff;
	border:1px solid #ffffff;
	border-radius: 3px;
	padding-top:5px;
	padding-left:10px;
	line-height: 20px;
	font-size: 1.15em;
	color: gray;
	margin-bottom: 10px;
}
#taskdetail,#sh5
{
	margin-top:50px;
  max-height:580px;
  width:340px;
  //position:absolute;
  padding-left:15px;
  padding-top:30px;
  float:right;
  background-color:#ffffff;
  border:1px solid #404040;
  border-radius:6px;
  color:#ffffff;
  font-family:Arial;
  font-size:1em;
  //margin-left:1005px;
  box-shadow:5px 5px 8px 4px gray;
  overflow:auto; display: inline-block;
}
#taskdetail{margin-top: 0px;}
#team,#team1
{
  max-height:250px;
  width:200px;
  position:absolute;
 
  overflow:auto;
  background-color:#ffffff;
  border:1px solid #1975d1;
  border-radius:5px;
  color:#1975d1;
  padding-top:10px;
  padding-left:20px;
  padding-bottom:10px;
}
#team{ margin-left:1115px;}
#pc
{
	color:gray;
	font-size: 1.25em;
	padding-left:10px;
}
#pc:hover{color:#1975d1;}
.comment
{
	width:80.5%;
	line-height: 20px;
	font-size: 1em;
	color:gray;
}
#projectbtn
{
	margin-left:10px;
	
	//display:inline-block; 
	padding:5px 10px;
	background-color: #0e74af;
	border:1px solid #0e74af;
	border-radius: 3px;
	color:#ffffff;
	font-size: 1.25em;
	float: left;
}
#projectbtn:hover
{background-color: #0c6599;}
#project
{
	height: 50px;
}